*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background-color: rgb(21, 56, 66);
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: cursive;
    font-size: 2.5rem;
    color: rgb(247, 247, 247);
}


.button { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 0.5rem 0.8rem; 
	font-family: cursive; 
	width: 200px; 
	font-size: 1.2rem; 
	font-weight: bolder; 
	border-radius: 0.7rem; 
	border-style: none; 
	background-color: red; 
	color: white; 
	margin-top: 5px; 
	margin-left: 55%; 
} 

.button:hover { 
	border: 2px solid black; 
	cursor: pointer; 
} 

.grid {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    
}

.card,
.back,
.front {
	height: 6rem; 
	width: 6rem; 
    border-radius: 50%;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background-color: rgb(253, 218, 175);
    border: 1px solid black;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
 
    
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    opacity: 0;
}
